.gradle/
.gradle-test/
.gradle-*/
.gradle-user/
.android/
.kotlin/
.codex_tmp/
.idea/
*.iml
local.properties
app.local.properties
keystore.properties
*.jks
*.keystore
captures/
.externalNativeBuild/
.cxx/
**/build/
